* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
  height: 1200px;
}*/

.container {
  display: flex;
  justify-content: center;
}

.example {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  
  width: 800px;
  margin: 50px 0;
  background-color: transparent;
}

/*img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
*/

.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}